@media screen and (min-width:295px) and (max-width:768px) {
    body {
        width: 100%;
        height: auto;
        scroll-behavior: smooth;
    }

    section {
        display: grid;
        width: 100vw;
        grid-template-areas: 'topnav' 'navbar' 'content' 'footer';
        gap: 0.4rem;
    }

    article {
        width: 100vw;
    }

    .topnav {
        width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo img {
        width: 30px;
        height: 30px;
    }

    .nav-logo h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    .bac-mode img {
        width: 45px;
        height: 25px;
    }

    #profile-photo {
        width: 9rem;
        height: 9rem;
    }

    .navbar h1 {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .navbar p {
        font-size: 0.8rem;
        font-weight: 300;
        padding: 0rem 1rem;
        word-spacing: 1px;
    }

    .navbar h4 {
        padding: 0.2rem 1rem;
        font-size: 0.7rem;
        font-weight: 300;
        font-style: oblique;
    }

    .navbar h3 {
        font-size: 1rem;
        font-weight: 300;
    }

    #phone {
        width: 22px;
        height: 24px;
    }

    .connect-us img {
        width: 30px;
        height: 30px;
        margin: 2px;
    }

    #gmail {
        width: 32px;
        height: 32px;
    }

    .content {
        width: 100vw;
        height: auto;
        overflow-y: visible;
        scroll-behavior: auto;
    }

    .main-text {
        font-size: 1.5rem;
        font-weight: 200;
        margin: 0.51rem 0rem;
    }

    .about-text p {
        font-size: 0.7rem;
        font-weight: 300;
        font-style: italic;
    }

    .cards {
        gap: 1.3rem;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
    }

    .header {
        padding: 15px;
        font-size: 0.9rem;
    }

    .body {
        padding: 10px;
    }

    .skill-level {
        width: 100px;
        margin-left: 1px;
    }

    .skill-percent-number {
        margin-left: 10px;
        font-size: 0.7rem;
    }

    .display-none {
        display: none;
    }

    .project-card {
        width: 200px;
        height: 200px;
    }

    .child-card {
        width: 200px;
        height: 200px;
    }

    .anchor-child a {
        font-size: 0.9rem;
        padding: 0.2rem 0.6rem;
    }

    .link-card {
        width: 65%;
        padding: 0.5rem;
    }

    #github-logo {
        width: 1.8rem;
        height: 1.8rem;
    }

    #linkedin-logo {
        width: 1.6rem;
        height: 1.6rem;
    }

    .link-card img {
        width: 30px;
        height: 30px;
    }

    .link-card h1 {
        width: fit-content;
        font-size: 0.7rem;
        font-weight: 350;
    }

    .link-card a {
        font-size: 0.8rem;
        padding: 0.2rem 0.7rem;
        border: 2px solid whitesmoke;
    }

    .about-Interest li {
        font-size: 0.8rem;
        font-weight: 300;
        padding: 0.1rem;
    }

    .contact-form {
        width: 90%;
        padding: 0.5rem 0.2rem;
        gap: 0.4rem;
    }
    #form{
        width: 100%;
        padding: 0.2rem 0.52rem;
    }

    .input-fields label {
        width: 100%;
        font-size: 0.8rem;
    }

    .input-fields input {
        width: 100%;
        font-size: 0.9rem;
        font-weight: 230;
        padding: 0.1rem 0.2rem;
    }
    .decs label {
        font-size: 1rem;
        font-weight: 230;
    }
    .decs textarea {
        width: 100%;
        font-size: 0.9rem;
        padding: 0.1rem 0.1rem; 
    }
    .contract-btn button {
        font-size: 0.8rem;
        font-weight: 300;
        padding: 0.3rem 0.9rem;
    }
    .ani-circle{
        display: none;
    }
    #contract-response{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    #contract-response h1{
        position:static;
        color: #fff;
        font-size: 0.8rem;
        font-weight: 500;
    }
    .footer {
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 0.8rem;
        font-weight: 400;
        padding: 0.8rem;
        text-align: justify;
    }
}